@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<UsersApp.Models.Client>

<h1>All Clients</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var client in Model)
        {
            <tr>
                <td>@client.id</td>
                <td>@client.name</td>
                <td>@client.surname</td>
                <td>@client.phone</td>
                <td>
                    <a class="btn btn-success" asp-controller="Clients" 
                    asp-action="Edit" asp-route-id="@client.id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>